CI_DEPLOY_ARBITRUM_RPC_URL=https://arbitrum-one-rpc.publicnode.com
CI_DEPLOY_BASE_RPC_URL=https://base-rpc.publicnode.com
CI_DEPLOY_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
CI_DEPLOY_FLARE_RPC_URL=https://flare-api.flare.network/ext/C/rpc
CI_DEPLOY_POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
